header
      {background-color: #F8F8F8;}
.dd{
      text-align: center;
      width: 531px;
      margin-left: auto;
      margin-right: auto;
}
body{
      font-family: 'League Spartan', sans-serif;
}
header{
      font-weight: 300;
}
h1{
      font-size: 250px;
      font-weight: 300;
      margin-top: 53px;
      margin-bottom: 43px;
}
h2{
      font-weight: 400;
      line-height: 112.5%;
      font-size: 72px;
      color: #000000;
}
h3{
      font-weight: 400;
}
.fank{
      color: #BB8B5D;
}
.JoJo{
      margin-top: 43px;
}
.Watch_img{
      margin-top: 85px;
}
.class{
      font-size: 32px;
      font-weight: 300;
      line-height: 155%;
      color: #161515;  
}
.h3{
      font-weight: 400;
      font-size: 32px;
      line-height: 29px;
      color: #000000;
}
.roka{
      margin-top: 75px;
}
hr{
      width: 178.03px;
}
.by{
      font-weight: 300;
      font-size: 24px;
      line-height: 170%;
      color: #161515;
}
header{
display: flex;
justify-content: center;
}
.mora{
      font-weight: 300;
      font-size: 32px;
      line-height: 155%;
      color: #161515;
}
div{
      width: 924px;
}